{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle"
 data-toggle="collapse" data-target=".navbar-collapse">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/gpioweb">RemoteAC</a>
 </div>
 <div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
 <li><a href="/gpio">GPIO</a></li>
 <li><a href="/">Logout</a></li>
 </ul>
 </div>
 </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
 <div class="page-header">
 <h1>Panasonic AC Controller</h1>
  	  <div class="btn-group-vertical" role="group" aria-label="...">
		  <a role="button" class="btn btn-danger" href="/heat">Heat 23 °C</a>
		  <a role="button" class="btn btn-primary" href="/cool">Cool 20 °C</a>
		  <a role="button" class="btn btn-info" href="/dry">Dry 20 °C</a>
		  <a role="button" class="btn btn-success" href="/fan">Fan Only</a>
		</div>

	  <br />
	  <br />
	  <ul class="list-group">
		  <li class="list-group-item">Current temperature: {{ temperature }}</li>
		  <li class="list-group-item">Current status: {{ message }}</li>
		  <li class="list-group-item">Current server time: {{ time }}</li>
	  </ul>
 </div>
</div>
{% endblock %}