{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle"
 data-toggle="collapse" data-target=".navbar-collapse">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="/gpioweb">RemoteAC</a>
 </div>
 <div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
 <li><a href="/gpio">GPIO</a></li>
 <li><a href="/webcam">WEBCAM</a></li>
 <li><a href="/logout">Logout</a></li>
 </ul>
 </div>
 </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
 <div class="page-header">
 <h1>GPIO Control</h1>
 {% for pin in pins %}
	<div class="panel panel-primary">
		<div class="panel-heading">{{pins[pin].name}}</div>
  	  	<div class="panel-body">
	  	  	<table class="table">
	    		<tr>
	    			<td>
	    				{% if pins[pin].state == true %}
                        	Current State : <span class="label label-success">On</span>
                        {% else %}
                        	Current State : <span class="label label-danger">Off</span>
                        {% endif %}
	    			</td>
	    			<!-- Button for action-->
	    			<td>
	    				<div class="btn-group" role="group" aria-label="...">
	  						<a role="button" class="btn btn-success" href="/on/{{pin}}">On</a>
	  						<a role="button" class="btn btn-danger" href="/off/{{pin}}">Off</a>
						</div>
	    			</td>
	    		</tr>
	    	</table>
  		</div>		
  	</div> 
 {% endfor %}
 </div>
</div>
{% endblock %}